.container .filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: inline-block;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border-radius: 4px;
  margin: 12px 30px;
  border: none;
  float: right;
}

.filters button:hover {
  opacity: 90%;
}

.filters .locations,
.filters .amenities {
  height: 100%;
  width: 25%;
  display: inline-block;
  position: relative;
}

.filters .locations {
  border-right: 1px solid #dddddd;
}

/* Locations list style */
.filters .locations ul {
  padding: 6px 0 6px 0;
}

.filters .locations li {
  margin: 0 auto 6px 3em;
}

.filters .amenities li {
  margin: 12px auto 12px 30px;
}

.filters h3 {
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
  padding: 13.5px 0 0 30px;
}

.filters h4 {
  font-weight: 400;
  font-size: 14px;
  padding: 6px 0 20px 30px;
}

.filters h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 12px auto 0 30px;
  
}

.filters .popover {
  display: none;
}

.filters div:hover .popover {
  display: block;
  border: 1px solid #dddddd;
  border-radius: 4px;
  list-style: none;
  position: absolute;
  width: 100%;
  background-color: #fafafa;
  padding-top: 20px;
  padding-bottom: 20px;
}
